body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/

}

.messageRow {
  /*overflow: hidden;*/
}

#header {
  margin-top: 1.1rem;
  margin-bottom: 0.2rem;
}

#header * {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif  !important;
}

#header-warning {
  font-size: 0.7rem;
}

.messageColumn {
  /*height: 70vh;/*/

  /*margin-inside: 30px;*/
  /*border: 1px solid red;*/
}
#particles canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -4;
}


.historyTableCurrentMessage {
  font-size: 1.3rem;
}


#messageGrid * {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif  !important;
}

.navigationItem {
  font-size: 1.24rem;
}

#statusBar {
  text-align: left;
}

/*.messageContent {*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
/*}*/


#authorArea {
  /*border: 1px solid blue;*/
}

.infoText {
  font-size: 0.6em;
  color: darkgrey;
}

#inputPriceRow {
  font-size: 1.6rem;
}

.messageCaptionRow{
  font-size: 1.25rem;
  text-align: center;
  background-color: #DDDDDD;
}

#messageTitle {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#messageRow {
  text-align: center;
  background-color: #EEEEEE;
  padding-bottom: 8rem;
  padding: 3rem;
  font-size: 1.7rem;
  /*margin-top:3%;*/
  /*border: 1px solid white;*/
}


#messageArea {
  padding-bottom: 3rem;
  /*width: 80%;*/
  /*height: 80%;*/
  /*margin: 3%;*/
  /*border: 1px solid green;*/
}

.signatureArea {
  margin-top:1rem;
  font-size: 1.4rem;
}

.messageLinkArea {
  margin-top:0.5rem;
  font-size: 1.25rem;
}

.txInfoRow {
  font-size: 0.75rem;
  background-color: #DDDDDD;
}





.footer {
  margin-top:2rem;
  font-size:0.8rem;

}

.infoIcon {
  margin-right: 30px;
}